<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guardian Tales</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>보스</th>
        <th>속성</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boss : ${bossList}">
        <td>
            <img th:src="@{${boss.bossImage}}" th:alt="${boss.bossName}" width="50" height="50"/>
            <span th:text="${boss.bossName}"></span>
        </td>
        <td>
                <span th:each="element, stat : ${boss.elementList}">
                    <img th:src="@{${boss.elementImageList[stat.index]}}" th:alt="${element}" width="30" height="30"/>
                    <span th:text="${element}"></span>
                </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
