<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guardian Tales</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Boss Name</th>
        <th>Element</th>
        <th>Active</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boss : ${boss}">
        <td th:text="${boss.bossName}"></td>
        <td th:text="${boss.bossElement}"></td>
        <td th:text="${boss.elementIsActive}"></td>
        <td><img th:src="${boss.mainImg}" alt="Boss Image"></td>
    </tr>
    </tbody>
</table>
</body>
</html>